/* -- Additional Global Style --- */
.align-center {
	text-align: center;
}

h1 {
	font-family: 'Open Sans', sans-serif;
	font-weight: normal;
}
 
/* ------ Import BLOKKNeue ------ */
@import url(http://fonts.googleapis.com/css?family=Open+Sans);

@font-face {
	font-family: 'BLOKKRegular';
	src: url('../font/BLOKKRegular.eot');
	src: url('../font/BLOKKRegular.eot?#iefix') format('embedded-opentype'),
		 url('../font/BLOKKRegular.woff') format('woff'),
		 url('../font/BLOKKRegular.svg#BLOKKRegular') format('svg');
	font-weight: normal;
	font-style: normal;
}

/* ------------ .navi ----------- */
.navi {
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	background: #1e77d3;
	height: 50px;
	z-index: 10;
	
	/* -webkit-box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
	box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1); */
}

.navi .brand {
	float: left;
	color: #fff;
	height: 50px;
	line-height: 50px;
	font-size: 20px;
	padding: 0 15px;
}

.navi .nav {
	margin-bottom: 0;
	float: right;
}

.navi .nav .divider {
	height: 30px;
	margin: 10px 5px;
	border-left: 1px #1d6bb7 solid;
	border-right: 1px #4f7ba8 solid;
}

.navi .nav > li {
	float: left;
}

.navi .nav > li > a {
	color: #FFF;
	height: 50px;
	line-height: 50px;
	padding: 0 15px;
}

.navi .nav > li > a:hover {
	color: #1e77d3;
	text-decoration: none;
	background-color: #fff;
	
	-webkit-transition: 0.15s ease-in-out;
	-moz-transition: 0.15s ease-in-out;
	-ms-transition: 0.15s ease-in-out;
	-o-transition: 0.15s ease-in-out;
	transition: 0.15s ease-in-out;
}

/* ----------- .slider ---------- */
.slider {
	height: 450px;
	/* background-color: #fece30; */
}

.slider .carousel-inner .item {
	height: 450px;
}

.slider .carousel-inner .welcome {
	background: #fece30;
}

.slider .carousel-inner .welcome > h1 {
	padding-top: 0;
}

.slider .carousel-inner .welcome > h3 {
	padding-bottom: 0;
}

.slider .carousel-inner .steps {
	background: #e3e3e3;
	/*background: #386bea;*/
}

.slider .carousel-inner .steps h1 {
	text-align: center;
	font-weight: 600;
	margin: 20px 0;
}

.slider .carousel-inner .steps h3.desc {
	font-family: 'Open Sans', sans-serif;
	font-size: 23px;
	line-height: 35px;
	text-align: center;
	font-weight: 400;
	margin: 10px 0 100px 0;
}

.slider .carousel-inner .steps .row-fluid {
	margin: 40px 0;
}

.slider .carousel-inner .steps .popover.bottom {
	margin-top: 20px;
}

.slider .carousel-inner .database {
	background: #159826;
	/* min-width: 100%;
	height: 500px;
	background-image: url('../img/network.png');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 50% 50%; */
}

.slider .slider-control-left {
	position: absolute;
	top: 35%;
	left: 15px;
	right: auto;
	color: #fff;
	font-size: 30px;
	line-height: 30px;
	opacity: 0.5;
}

.slider .slider-control-left:hover {
	text-decoration: none;
	opacity: 1;
}

.slider .slider-control-right {
	position: absolute;
	top: 35%;
	right: 15px;
	left: auto;
	color: #fff;
	font-size: 30px;
	line-height: 30px;
	opacity: 0.5;
}

.slider .slider-control-right:hover {
	text-decoration: none;
	opacity: 1;
}

/* ---------- .featured --------- */
.featured {
	height: 300px;
	border-bottom: 1px #000 solid; /**/
}

.featured .span4 {
	text-align: center;
}

/* ----------- .content --------- */
.content {
	height: 800px;
}

/* ----------- #step2 --------- */

#step2 {
	background-color: #B1C2B3;
}

#step2 select {
	margin-top: 20px;
	height: 300px;
	width: 400px;
	font-size: 20px;

}

#step2 img {
	margin: 70px 0px 0px 50px;
}

#step2 h1 {
	margin-top: 80px;
}

#north {
	margin: -280px 0px 0px -230px;
}

#central {
	margin: -40px 0px 0px 10px;	
}

#northeast {
	margin: -80px 0px 0px 90px;
}

#east {
	margin: 80px 0px 0px -70px;
}

#south {
	margin: 410px 0px 0px -110px;
}


/* ----------- #step3 --------- */

#step3 {
	background-image: url('../img/House-on-a-plain.jpg');
	transition: background 1.0s ease-in-out;
}

#banner-slide {
	margin-top: 150px;
}

#banner-slide .row {
	margin-left: 100px;
}

#banner-slide img {
}

#banner-slide li h1 {
	text-align: center;
	margin-top: 20px;
}

#banner-slide li p {
	text-align: center;
}

/* ----------- .submit ---------- */
.submit {
	height: 350px;
	border-bottom: 1px #000 solid;
	background-color: #778691;
}

.submit .row-fluid {
	margin-top: 60px;
}

.submit a {
	color: black;
}

.submit a:hover {
	color: #424242;
}

.submit h3 {
	text-align: center;
}

.submit h4 {
	text-align: center;
}

.submit p {
	text-align: center;
}

.submit .span3:last-child {
	padding: 20px 0px;
}

/* ----------- <footer> --------- */
footer {
	height: 100px;
}