/* ----------- .slider ---------- */
.slider {
	height: 300px;
	border-bottom: 1px #000 solid; /**/
}

/* ---------- .featured --------- */
.featured {
	height: 300px;
	border-bottom: 1px #000 solid; /**/
}

/* ----------- .content --------- */
.content {
	height: 800px;
	border-bottom: 1px #000 solid; /**/
}

/* ----------- #step2 --------- */

#step2 {
	background-color: #B1C2B3;
}

#step2 select {
	margin-top: 20px;
	height: 300px;
	width: 400px;
	font-size: 20px;

}

#step2 img {
	margin: 70px 0px 0px 50px;
}

#step2 h1 {
	margin-top: 80px;
}

#north {
	margin: -280px 0px 0px -230px;
}

#central {
	margin: -40px 0px 0px 10px;	
}

#northeast {
	margin: -80px 0px 0px 90px;
}

#east {
	margin: 80px 0px 0px -70px;
}

#south {
	margin: 410px 0px 0px -110px;
}


/* ----------- #step3 --------- */

#step3 {
	background-image: url('../img/House-on-a-plain.jpg');
	transition: background 1.0s ease-in-out;
}

#banner-slide {
	margin-top: 150px;
}

#banner-slide .row {
	margin-left: 100px;
}

#banner-slide img {
}

#banner-slide li h1 {
	text-align: center;
	margin-top: 20px;
}

#banner-slide li p {
	text-align: center;
}

/* ----------- .submit ---------- */
.submit {
	height: 350px;
	border-bottom: 1px #000 solid;
	background-color: #778691;
}

.submit .row-fluid {
	margin-top: 60px;
}

.submit a {
	color: black;
}

.submit a:hover {
	color: #424242;
}

.submit h3 {
	text-align: center;
}

.submit h4 {
	text-align: center;
}

.submit p {
	text-align: center;
}

.submit .span3:last-child {
	padding: 20px 0px;
}

/* ----------- <footer> --------- */
footer {
	height: 100px;
}